@import url('https://fonts.cdnfonts.com/css/varela');

.text-logo {
    color: #7c76bb;
    font-family: "Inter Black", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.text-highlight {
    color: #7c76bb;
    font-weight: 600;
}

.cards {
    justify-content: center;
}

.text-justify {
    text-align: justify;
}

.headshot {
    text-align: center;
}

.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.pb-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}