@import url('https://fonts.cdnfonts.com/css/varela');

.text-logo font {
    color: #7c76bb;
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-highlight {
    color: #7c76bb;
    font-weight: 600;
}

.cards {
    justify-content: center;
}

.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.pb-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}