<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Clockwork - Choose technology professionals, not technology pretenders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" type="image/png" href="/favicon.ico">
    
    <style>
    :root {
        /* Primary theme color. purple = #5f1c82 */
        --primary-color: #FED43F;
        /* Primary theme text color */
        --primary-text-color: #543631;
        --primary-text-color-over: #000;
        /* Primary theme link color */
        --primary-link-color: #F9BB2D;
        /* Secondary color: the background body color */
        --secondary-color: #fcfaf6;
        --secondary-text-color: #303030;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #d46e13;
        --toc-background-color: white;
        --code-color: #4a4a4a;
        --code-background-color: white;

        --shadow-color: #ddd;

        /* Font used for headers (h1 & h2) */
        --header-font-family: "Fira Sans", sans-serif;
        /* Font used for text */
        --text-font-family: "Fira Sans", sans-serif;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-color: #382929;
            --primary-text-color: #d7d7d7;
            --primary-text-color-over: #FFF;
            --primary-link-color: #9b9b9b;
            --secondary-color: #282828;
            --secondary-text-color: #f2f2f2;
            --toc-highlight-text-color: #f2f2f2;
            --toc-background-color: #3a3a3a;
            --code-color: white;
            --code-background-color: #4a4a4a;

            --shadow-color: #202020;
            --header-font-family: "Fira Sans", sans-serif;
            --text-font-family: "Fira Sans", sans-serif;
        }
    }
</style>

    
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="https://clockwork.ing/juice.css">
    
    
</head>

<body>
    

    <header class="pos-absolute" style="background-color: transparent">
        

<a href="https://clockwork.ing/">
    <div class="logo">
        <img src="https://clockwork.ing/clockwork-logo.svg" alt="logo">
        Clockwork
    </div>
</a>

<nav>
    
    
    
    <a class="nav-item subtitle-text" href="https://clockwork.ing/showcases/">Showcases</a>
    
    
    
    
    <a class="nav-item subtitle-text" href="https://clockwork.ing/changelog/">Changelog</a>
    
    
    
    
    <a class="nav-item subtitle-text" href="https://clockwork.ing/about/">About</a>
    
    
    
    
    
    
</nav>

    </header>

    <div class="hero">
        
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                Choose technology professionals, not technology pretenders.
            </h1>
            <h3 class="title-text">
                <b>Clockwork</b> is a network of world-class independent experts who make software delivery tick-tock.
            </h3>
        </section>
        <img class="hero-image" style="width: 50%" src="https://clockwork.ing/clockwork.svg">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }

            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        
    </div>

    

    <main>
        
        
        
        
        
        <div class="toc">
            <div class="toc-sticky">
                
                <div class="toc-item">
                    <a class="subtext" href="https://clockwork.ing/#juice">Juice</a>
                </div>
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://clockwork.ing/#installation">Installation</a>
                </div>
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://clockwork.ing/#structure">Structure</a>
                </div>
                
                
                <div class="toc-item-child">
                    <a class="subtext" href="https://clockwork.ing/#hero"><small>- Hero</small></a>
                </div>
                
                <div class="toc-item-child">
                    <a class="subtext" href="https://clockwork.ing/#page"><small>- Page</small></a>
                </div>
                
                <div class="toc-item-child">
                    <a class="subtext" href="https://clockwork.ing/#css-variables"><small>- CSS variables</small></a>
                </div>
                
                <div class="toc-item-child">
                    <a class="subtext" href="https://clockwork.ing/#favicon"><small>- Favicon</small></a>
                </div>
                
                <div class="toc-item-child">
                    <a class="subtext" href="https://clockwork.ing/#fonts"><small>- Fonts</small></a>
                </div>
                
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://clockwork.ing/#configuration">Configuration</a>
                </div>
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://clockwork.ing/#shortcodes">Shortcodes</a>
                </div>
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://clockwork.ing/#showcases">Showcases</a>
                </div>
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://clockwork.ing/#contributing">Contributing</a>
                </div>
                
                
            </div>
        </div>
        
        

        <div class="content text">
            
            <div id="features" class="heading-text">Overview</div>
            <h1 id="juice">Juice</h1>
<p><strong>Juice</strong> is an intuitive, elegant, and responsive Zola theme for product sites.</p>
<ul>
<li>Build for product sites</li>
<li>Simple and intuitive structure</li>
<li>Clean and elegant design</li>
<li>Responsive and mobile device compatible</li>
<li>Customize and extend friendly</li>
</ul>
<h1 id="installation">Installation</h1>
<blockquote>
<p><strong>Zola</strong> is a prerequisite. Please refer to the <a href="https://www.getzola.org/documentation/getting-started/installation/">Zola installation</a> docs.</p>
</blockquote>
<p>First download this theme to your <code>themes</code> directory:</p>
<pre data-lang="bash" style="background-color:#ffffff;color:#323232;" class="language-bash "><code class="language-bash" data-lang="bash"><span>$ cd themes
</span><span>$ git clone https://github.com/huhu/juice.git
</span></code></pre>
<p>or add as a submodule</p>
<pre data-lang="bash" style="background-color:#ffffff;color:#323232;" class="language-bash "><code class="language-bash" data-lang="bash"><span>$ git submodule add https://github.com/huhu/juice  themes/juice
</span></code></pre>
<p>and then enable it in your <code>config.toml</code>:</p>
<pre data-lang="toml" style="background-color:#ffffff;color:#323232;" class="language-toml "><code class="language-toml" data-lang="toml"><span style="color:#63a35c;">theme </span><span>= </span><span style="color:#183691;">&quot;juice&quot;
</span></code></pre>
<h1 id="structure">Structure</h1>
<h3 id="hero">Hero</h3>
<p><strong>Juice</strong> is designed for product websites, hence we let <strong>hero</strong> part fills whole of screen.
You can customize your <strong>hero</strong> by using <code>hero</code> block in the <code>templates/index.html</code>.</p>
<pre data-lang="html" style="background-color:#ffffff;color:#323232;" class="language-html "><code class="language-html" data-lang="html"><span>{% extends &quot;juice/templates/index.html&quot; %}
</span><span>{% block hero %}
</span><span>    &lt;</span><span style="color:#63a35c;">div</span><span>&gt;
</span><span>        Your cool hero html...
</span><span>    &lt;/</span><span style="color:#63a35c;">div</span><span>&gt;
</span><span>{% endblock hero %}
</span></code></pre>
<h3 id="page">Page</h3>
<p>Every markdown file located in <code>content</code> directory will become a <strong>Page</strong>. There also will display as
a navigate link on the top-right corner.
You can change the frontmatter's <code>weight</code> value to sort the order (ascending order).</p>
<pre style="background-color:#ffffff;color:#323232;"><code><span>+++
</span><span>title = &quot;Changelog&quot;
</span><span>description = &quot;Changelog&quot;
</span><span>weight = 2
</span><span>+++
</span><span>
</span></code></pre>
<h3 id="css-variables">CSS variables</h3>
<p>You can override theme variable by creating a file named <code>_variables.html</code> in your <code>templates</code> directory.</p>
<pre data-lang="html" style="background-color:#ffffff;color:#323232;" class="language-html "><code class="language-html" data-lang="html"><span>&lt;</span><span style="color:#63a35c;">style</span><span>&gt;
</span><span>    :root {
</span><span>        </span><span style="font-style:italic;color:#969896;">/* Primary theme color */
</span><span>        </span><span style="color:#0086b3;">--primary-color</span><span>: </span><span style="color:#ed6a43;">#FED43F</span><span>;
</span><span>        </span><span style="font-style:italic;color:#969896;">/* Primary theme text color */
</span><span>        </span><span style="color:#0086b3;">--primary-text-color</span><span>: </span><span style="color:#ed6a43;">#543631</span><span>;
</span><span>        </span><span style="color:#0086b3;">--primary-text-color-over</span><span>: </span><span style="color:#ed6a43;">#000</span><span>;
</span><span>        </span><span style="font-style:italic;color:#969896;">/* Primary theme link color */
</span><span>        </span><span style="color:#0086b3;">--primary-link-color</span><span>: </span><span style="color:#ed6a43;">#F9BB2D</span><span>;
</span><span>        </span><span style="font-style:italic;color:#969896;">/* Secondary color: the background body color */
</span><span>        </span><span style="color:#0086b3;">--secondary-color</span><span>: </span><span style="color:#ed6a43;">#fcfaf6</span><span>;
</span><span>        </span><span style="color:#0086b3;">--secondary-text-color</span><span>: </span><span style="color:#ed6a43;">#303030</span><span>;
</span><span>        </span><span style="font-style:italic;color:#969896;">/* Highlight text color of table of content */
</span><span>        </span><span style="color:#0086b3;">--toc-highlight-text-color</span><span>: </span><span style="color:#ed6a43;">#d46e13</span><span>;
</span><span>        </span><span style="color:#0086b3;">--toc-background-color</span><span>: white;
</span><span>        </span><span style="color:#0086b3;">--code-color</span><span>: </span><span style="color:#ed6a43;">#4a4a4a</span><span>;
</span><span>        </span><span style="color:#0086b3;">--code-background-color</span><span>: white;
</span><span>        </span><span style="color:#0086b3;">--shadow-color</span><span>: </span><span style="color:#ed6a43;">#ddd</span><span>;
</span><span>        </span><span style="font-style:italic;color:#969896;">/* Font used for headers (h1 &amp; h2) */
</span><span>        </span><span style="color:#0086b3;">--header-font-family</span><span>: </span><span style="color:#183691;">&quot;Fira Sans&quot;</span><span>, sans-serif;
</span><span>        </span><span style="font-style:italic;color:#969896;">/* Font used for text */
</span><span>        </span><span style="color:#0086b3;">--text-font-family</span><span>: </span><span style="color:#183691;">&quot;Fira Sans&quot;</span><span>, sans-serif;
</span><span>    }
</span><span>&lt;/</span><span style="color:#63a35c;">style</span><span>&gt;
</span></code></pre>
<h3 id="favicon">Favicon</h3>
<p>The same way as changing the <code>hero</code> block in the <code>templates/index.html</code>, you can change the <strong>favicon</strong>.</p>
<pre data-lang="html" style="background-color:#ffffff;color:#323232;" class="language-html "><code class="language-html" data-lang="html"><span>{% extends &quot;juice/templates/index.html&quot; %}
</span><span>{% block favicon %}
</span><span>    &lt;</span><span style="color:#63a35c;">link </span><span style="color:#795da3;">rel</span><span>=</span><span style="color:#183691;">&quot;icon&quot; </span><span style="color:#795da3;">type</span><span>=</span><span style="color:#183691;">&quot;image/png&quot; </span><span style="color:#795da3;">href</span><span>=</span><span style="color:#183691;">&quot;/favicon.ico&quot;</span><span>&gt;
</span><span>{% endblock favicon %}
</span></code></pre>
<h3 id="fonts">Fonts</h3>
<p>If you changed the <code>--xy-font-family</code>-variable in <code>_variables.html</code>, you have to load the mentioned fonts in the <code>templates/index.html</code>.</p>
<pre data-lang="html" style="background-color:#ffffff;color:#323232;" class="language-html "><code class="language-html" data-lang="html"><span>{% extends &quot;juice/templates/index.html&quot; %}
</span><span>{% block fonts %}
</span><span>    &lt;</span><span style="color:#63a35c;">link </span><span style="color:#795da3;">href</span><span>=</span><span style="color:#183691;">&quot;https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css&quot; </span><span style="color:#795da3;">rel</span><span>=</span><span style="color:#183691;">&quot;stylesheet&quot; </span><span style="color:#795da3;">crossorigin</span><span>=</span><span style="color:#183691;">&quot;anonymous&quot;</span><span>&gt;
</span><span>    &lt;</span><span style="color:#63a35c;">link </span><span style="color:#795da3;">href</span><span>=</span><span style="color:#183691;">&quot;https://fonts.googleapis.com/css2?family=Babylonica&amp;display=swap&quot; </span><span style="color:#795da3;">rel</span><span>=</span><span style="color:#183691;">&quot;stylesheet&quot;</span><span>&gt;
</span><span>{% endblock fonts %}
</span></code></pre>
<h1 id="configuration">Configuration</h1>
<p>You can customize some builtin property in <code>config.toml</code> file:</p>
<pre data-lang="toml" style="background-color:#ffffff;color:#323232;" class="language-toml "><code class="language-toml" data-lang="toml"><span>[extra]
</span><span style="color:#63a35c;">juice_logo_name </span><span>= </span><span style="color:#183691;">&quot;Juice&quot;
</span><span style="color:#63a35c;">juice_logo_path </span><span>= </span><span style="color:#183691;">&quot;clockwork-logo.svg&quot;
</span><span style="color:#63a35c;">juice_extra_menu </span><span>= [
</span><span>    { </span><span style="color:#63a35c;">title </span><span>= </span><span style="color:#183691;">&quot;Github&quot;</span><span>, </span><span style="color:#63a35c;">link </span><span>= </span><span style="color:#183691;">&quot;https://github.com/huhu/juice&quot;</span><span>}
</span><span>]
</span><span style="color:#63a35c;">repository_url </span><span>= </span><span style="color:#183691;">&quot;https://github.com/huhu/juice&quot;
</span></code></pre>
<h1 id="shortcodes">Shortcodes</h1>
<p><strong>Juice</strong> have some builtin shortcodes available in <code>templates/shortcodes</code> directory. </p>
<ul>
<li><code>issue(id)</code> - A shortcode to render issue url, e.g. <code>issue(id=1)</code> would render to the link <code>https://github.com/huhu/juice/issue/1</code>.</li>
</ul>
<blockquote>
<p>The <code>repository_url</code> is required.</p>
</blockquote>
<h1 id="showcases">Showcases</h1>
<p>Please see the <a href="/showcases">showcases page</a>.</p>
<h1 id="contributing">Contributing</h1>
<p>Thank you very much for considering contributing to this project!</p>
<p>We appreciate any form of contribution:</p>
<ul>
<li>New issues (feature requests, bug reports, questions, ideas, ...)</li>
<li>Pull requests (documentation improvements, code improvements, new features, ...)</li>
</ul>

            
        </div>

        
        
    </main>

    
    <footer>
        <small class="subtext">
            <a href="https://clockwork.ing">clockwork.ing</a> © 2024
        </small>
    </footer>
    
</body>
<script>
    const scrollHandler = entries => {
        // Find the first entry which intersecting and ratio > 0.9 to highlight.
        let entry = entries.find(entry => {
            return entry.isIntersecting && entry.intersectionRatio > 0.9;
        });
        if (!entry) return;

        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });

        // let url = new URL(`#${entry.target.id}`);
        let link = document.querySelector(`.toc a[href$="${decodeURIComponent(`#${entry.target.id}`)}"]`)
        if (link) {
            link.classList.add("active");
            link.scrollIntoView({ behavior: "auto", block: "nearest" });
        }
    };
    // Set -100px root margin to improve highlight experience.
    const observer = new IntersectionObserver(scrollHandler, { threshold: 1 });
    let items = document.querySelectorAll('h1,h2,h3,h4,h5,h6');
    items.forEach(item => observer.observe(item));
</script>

</html>